@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Gluten:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
	/* --color-primary: #2e294e;
	--color-secondary: #c5d86d;
	--color-accent-1: #d7263d;
	--color-accent-2: #f46036;
	--color-accent-3: #1b998b; */
	/* page color #E3DFDA */
	--color-primary: #2f4858;
	--color-secondary: #7fd1ae;
	--color-accent-1: #be8700;
	--color-accent-2: #ff8a5f;
	--color-accent-3: #007663;
	--color-bg: #e3dfda93;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
	background-color: var(--color-bg);
}

.dots {
	--dotSize: 0.9rem;
	--bgSize: 4.35rem;
	--bgPosition: calc(var(--bgSize) / 2);
	--dotColor: rgba(200, 200, 200, 0.24);

	background-image: radial-gradient(
			circle at center,
			var(--dotColor) var(--dotSize),
			transparent 0
		),
		radial-gradient(
			circle at center,
			var(--dotColor) var(--dotSize),
			transparent 0
		);
	background-size: var(--bgSize) var(--bgSize);
	background-position: 0 0, var(--bgPosition) var(--bgPosition);
}

/* The side navigation menu */
.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: var(--color-secondary);
	position: fixed;
	height: 100vh;
	overflow: auto;
	font-family: "Gluten";
	/* font-family: "Funnel Display"; */
	font-weight: 600;
}

/* Sidebar links */
.sidebar a {
	display: block;
	color: #2e294e;
	padding: 16px;
	text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
	background-color: var(--color-accent-3);
	color: #2e294e;
}

.sidebar img {
	max-height: 70px;
	margin-left: 12px;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
	background-color: #2e294e;
	color: var(--color-secondary);
}

.sidebar i {
	margin-left: 12px;
	margin-right: 24px;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
	margin-left: 200px;
	padding: 1px 16px;
	/* min-height: 100vh;  */
	height: 99vh;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

.card {
	margin: 0 auto;
	max-width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-size: 44px;
	font-weight: 700;
}

.card-box {
	padding: 20px;
	margin: 18px 2px;
	background-color: white;
	width: 100%;
	border-radius: 8px;
	border-width: 2px;
	border-style: solid;
}

.card-title {
	height: 160px;
	text-align: center;
	border-color: var(--color-accent-2);
	color: var(--color-primary);
}

.card-img--box {
	height: 300px;
	border-color: var(--color-accent-3);
	/* to make white visible */
	/* background-color: gray; */
	transition: background-color 0.5 ease-in-out;
}

.card-img {
	height: 100%;
	width: 100%;
	-webkit-mask: url("/img/chameleon-svgrepo-com.svg") no-repeat contain;
	mask: url("/img/chameleon-svgrepo-com.svg") no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-position: center;
	mask-position: center;
	background-color: var(--color-primary);
	transition: mask 0.5 ease-in-out;
}

.card-color {
	height: 160px;
	border-color: var(--color-accent-1);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.card-color--name {
	color: #fff;
	-webkit-text-stroke: 1px var(--color-primary);
	text-stroke: 1px var(--color-primary);
	/* text-shadow: 3px 3px 0 var(--color-primary), -1px -1px 0 var(--color-primary),
		1px -1px 0 var(--color-primary), -1px 1px 0 var(--color-primary),
		1px 1px 0 var(--color-primary); */
	font-size: 44px;
	font-weight: 900;
}

/* .button {
	background-color: var(--color-accent-2);
	border-radius: 8px;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
} */

.hidden {
	display: none;
	transition: display 0.5s ease-in-out;
}

/* Loader animation by: https://css-loaders.com/ */

/* .loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,var(--color-accent-1) 90%,#0000);
  
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
} */

.loader {
	color: #000;
	width: 4px;
	aspect-ratio: 1;
	border-radius: 50%;
	box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
	transform: translateX(-38px);
	animation: l21 0.5s infinite alternate linear;
}

@keyframes l21 {
	50% {
		box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
	}
	100% {
		box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
	}
}

.notepad {
	background-image: url("./images/Page.png");
	background-position: center;
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 90%; /* Resize the background image to cover the entire container */
	margin: 0 auto;
	padding-top: 2rem;
	height: 100%;
	font-family: "Gluten";
	text-align: center;
	border: 1px solid red;
}

.picture {
	/* background-image: url("./images/Chameleon.png"); */
	background-image: url("./images/Chameleon_lines.png");
	background-position: center;
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain; /* Resize the background image to cover the entire container */
	margin: 0 auto;
	height: 60%;
}

.instruction {
	font-size: 32px;
}

.answer {
	font-size: 44px;
}
